Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg

Fix FP32→BF16 redundant allocation during model init (#228)
  scripts/train_eagle3_online.py
  specforge/modeling/auto.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Optimize Evaluation Phase By adding torch.no_grad() (#237)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

docs: run build_eagle3_dataset.py with torchrun (#234)
  scripts/build_eagle3_dataset.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix: handle None test_ds in skipped messages count (#232)
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

[feat]Regenerate train data from target model. (#223)
  docs/basic_usage/data_preparation.md
  examples/run_regenerate_data.sh
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Feature/add sgl online (#239)
  benchmarks/bench_model_speedup.py
  configs/qwen3-next-80b-a3b-eagle3.json
  documents/run_eagle3_llama.md
  examples/run_gpt_oss_120b_eagle3_sgl_online.sh
  examples/run_llama3_eagle3_offline.sh
  examples/run_llama3_eagle3_sgl_online.sh
  examples/run_qwen3_moe_235b_eagle3_sgl_online.sh
  scripts/build_eagle3_dataset.py
  scripts/build_eagle3_dataset_cache.py
  scripts/generate_data_by_target.py
  scripts/prepare_data.py
  scripts/prepare_hidden_states.py
  scripts/train_eagle3_online.py
  scripts/train_eagle3_sgl_online.py
  specforge/core/eagle3.py
  specforge/data/parse.py
  specforge/data/preprocessing.py
  specforge/data/template.py
  specforge/data/utils.py
  specforge/modeling/draft/base.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/target/sgl_model_wrapper.py
  specforge/utils.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo, @zyksir

fixed docs workflow permission (#207)
  .github/workflows/publish_docs.yaml
Owners: @FrankLeeeee

Update server args in bench speedup (#246)
  benchmarks/bench_model_speedup.py
Owners: @FrankLeeeee

refactored llama3 doc for github pages (#247)
  docs/basic_usage/gpt-oss.md
  docs/basic_usage/llama3.md
  docs/basic_usage/llama4.md
  docs/basic_usage/qwen3.md
  docs/examples/llama3-eagle3.md
  docs/index.rst
Owners: none

delete last message when regenerating train data (#248)
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix: remove attention mask shift in flex attention implementation (#245)
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/core/eagle3.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/utils.py
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

more (#250)
  .github/workflows/test.yaml
  tests/ci/gpu_lock_exec.py
Owners: @FrankLeeeee

resolved device ordinal in test workflow (#253)
  .github/workflows/test.yaml
  tests/ci/gpu_lock_exec.py
Owners: @FrankLeeeee

Add version.txt to MANIFEST.in to fix build (#254)
  MANIFEST.in
Owners: none

fix: remove attention mask shift & add pe shift (#244)
  specforge/core/eagle3.py
Owners: @FrankLeeeee

fix: mid aux hidden layer id calculattion in online mode (#240)
  specforge/core/eagle3.py
Owners: @FrankLeeeee

Apply FSDP2 to offline training (#242)
  scripts/train_eagle3_offline.py
  specforge/distributed.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

[Bugfix] Resolve Triton `OutOfResources` error on AMD GPUs. (#259)
  specforge/core/loss.py
Owners: @FrankLeeeee

(feat) add eaglechat dataset. (#266)
  scripts/prepare_data.py
  scripts/train_eagle3_offline.py
  specforge/core/loss.py
  specforge/distributed.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

(feat) add ceval, cmmlu benchmark. (#267)
  benchmarks/bench_model_speedup.py
Owners: @FrankLeeeee

support deepseek-v2-lite online train and support yarn rope (#224)
  configs/deepseek-v2-lite-eagle3.json
  examples/run_deepseek_v2_lite_eagle3_online.sh
  specforge/modeling/draft/llama3_eagle.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

fix qwen3-8b-eagle3 max_position_embeddings (#271)
  configs/qwen3-8b-eagle3.json
Owners: @FrankLeeeee, @FlamingoPg

support use the rope_theta parameter (#270)
  specforge/modeling/draft/llama3_eagle.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

aligned auto model loading with hf (#273)
  .github/workflows/test.yaml
  requirements.txt
  specforge/distributed.py
  specforge/layers/linear.py
  specforge/modeling/auto.py
  specforge/modeling/target/base.py
  specforge/modeling/target/gpt_oss.py
  specforge/modeling/target/llama.py
  specforge/modeling/target/llama4.py
  specforge/modeling/target/phi3.py
  specforge/modeling/target/qwen2.py
  specforge/modeling/target/qwen3.py
  specforge/modeling/target/qwen3_moe.py
  tests/ci/gpu_lock_exec.py
  tests/test_target_modeling/test_auto_target_model.py
  tests/test_target_modeling/test_gpt_oss.py
  tests/test_target_modeling/test_llama4_tp.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_phi3_tp.py
  tests/test_target_modeling/test_qwen3_moe_tp.py
  tests/test_target_modeling/test_qwen3_tp.py
  tests/utils.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

fixed the workflow on CI runner (#276)
  .github/workflows/test.yaml
  tests/test_target_modeling/test_auto_target_model.py
Owners: @FrankLeeeee

added abstraction for target model backend (#278)
  .github/workflows/test.yaml
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_online.py
  specforge/__init__.py
  specforge/core/eagle3.py
  specforge/data/utils.py
  specforge/modeling/__init__.py
  specforge/modeling/auto.py
  specforge/modeling/target/__init__.py
  specforge/modeling/target/custom_backend/__init__.py
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/eagle3_target_model.py
  specforge/modeling/target/sgl_model_wrapper.py
  specforge/modeling/target/sglang_backend/__init__.py
  specforge/modeling/target/sglang_backend/model_runner.py
  specforge/modeling/target/sglang_backend/patch.py
  specforge/modeling/target/sglang_backend/utils.py
  tests/test_target_modeling/test_auto_target_model.py
  tests/test_target_modeling/test_gpt_oss.py
  tests/test_target_modeling/test_llama4_tp.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_phi3_tp.py
  tests/test_target_modeling/test_qwen2_tp.py
  tests/test_target_modeling/test_qwen3_moe_tp.py
  tests/test_target_modeling/test_qwen3_tp.py
  tests/test_target_modeling/test_target_model_backend.py
Owners: @FrankLeeeee, @shuaills, @sleepcoo, @FlamingoPg, @zyksir

Added requirements-rocm.txt for AMD GPU and ROCm (#275)
  requirements-rocm.txt
Owners: none

support prepare hidden states use dp (#282)
  configs/qwen2.5-7b-eagle3.json
  examples/prepare_hidden_states.sh
  scripts/prepare_hidden_states.py
  specforge/distributed.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

added vocab_paralell_embedding and parallel_lm_head (#284)
  specforge/layers/__init__.py
  specforge/layers/embedding.py
  specforge/layers/linear.py
  specforge/layers/lm_head.py
  specforge/modeling/target/custom_backend/llama.py
  tests/test_layers/test_embedding.py
  tests/test_layers/test_linear.py
  tests/test_layers/test_lm_head.py
  tests/test_target_modeling/test_auto_target_model.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_target_model_backend.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

fix bugs prepare_generate_hidden_states use dp (#283)
  scripts/prepare_hidden_states.py
  specforge/core/eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

add template for deepseek-r1-distill (#281)
  specforge/data/parse.py
  specforge/data/template.py
Owners: @zyksir, @sleepcoo, @shuaills

updated test workflow container settings (#286)
  .github/workflows/test.yaml
Owners: @FrankLeeeee

fix llama3 type rope (#287)
  scripts/train_eagle3_sgl_online.py
  specforge/modeling/auto.py
  specforge/modeling/draft/llama3_eagle.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

updated all custom model testing (#285)
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
  tests/test_target_modeling/test_gpt_oss.py
  tests/test_target_modeling/test_llama4_tp.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_phi3_tp.py
  tests/test_target_modeling/test_qwen2_tp.py
  tests/test_target_modeling/test_qwen3_moe_tp.py
  tests/test_target_modeling/test_qwen3_tp.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

refactored offline hidden states generation (#293)
  scripts/prepare_hidden_states.py
  specforge/modeling/target/eagle3_target_model.py
  specforge/modeling/target/sglang_backend/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

added num-runs to benchmarks (#291)
  benchmarks/run_aime.py
  benchmarks/run_gsm8k.py
  benchmarks/run_humaneval.py
  benchmarks/run_math500.py
  benchmarks/run_mmstar.py
  benchmarks/run_mtbench.py
Owners: @FrankLeeeee

project offline state into vocab space (#297)
  specforge/core/eagle3.py
Owners: @FrankLeeeee

supported dp and async generation for dataset regeneration (#306)
  docs/advanced_features/regenerate_dataset.md
  docs/index.rst
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

refactored bench & add c-eval bench & add accuracy (#304)
  benchmarks/__init__.py
  benchmarks/base_benchmark.py
  benchmarks/run_aime.py
  benchmarks/run_ceval.py
  benchmarks/run_gsm8k.py
  benchmarks/run_humaneval.py
  benchmarks/run_math500.py
  benchmarks/run_mmstar.py
  benchmarks/run_mtbench.py
  benchmarks/utils.py
Owners: @FrankLeeeee

feature: continue gen hidden states (#295)
  scripts/prepare_hidden_states.py
Owners: @shuaills, @sleepcoo, @FlamingoPg
