Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg

pass locally... why fail on ci
  tests/test_data/__init__.py
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

done
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

remove requires grad
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

Devops/ci used normed tensor for testing, worked locally (#175)
  tests/test_data/__init__.py
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

fix qwen3 tp test
  tests/test_target_modeling/test_qwen3_tp.py
Owners: @FrankLeeeee

remove dup
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

fix tp size
  tests/test_target_modeling/test_qwen3_tp.py
Owners: @FrankLeeeee

added CI (#170)
  .github/workflows/test.yaml
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/target/llama4.py
  tests/__init__.py
  tests/test_auto_model.py
  tests/test_data/test_data_pipe.py
  tests/test_draft_modeling/__init__.py
  tests/test_draft_modeling/test_llama3.py
  tests/test_target_modeling/__init__.py
  tests/test_target_modeling/test_llama4_tp.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_qwen2_tp.py
  tests/test_target_modeling/test_qwen3_tp.py
  tests/test_utils/__init__.py
  tests/test_utils/test_auto_model.py
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

Support preformatted datasets (#169)
  README.md
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/data/preprocessing.py
  specforge/tracker.py
  tests/test_preprocessing.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @zyksir, @FrankLeeeee

fix (#176)
  scripts/prepare_hidden_states.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix (#180)
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix missing import (#179)
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Added phi3 model support (#184)
  configs/phi4-eagle3.json
  configs/phi4-mini-eagle3.json
  examples/run_phi4_eagle3_online.sh
  examples/run_phi4_mini_eagle3_online.sh
  specforge/data/template.py
  specforge/modeling/auto.py
  specforge/modeling/target/phi3.py
  tests/test_target_modeling/test_phi3_tp.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo, @zyksir

in place loss calculation
  scripts/train_eagle3_offline.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/benchmarks/benchmark_loss.py
  specforge/core/eagle3.py
  specforge/core/loss.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_utils/test_flex_attention.py
  tests/test_utils/test_loss.py
  tests/test_utils/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

revert off
  scripts/train_eagle3_offline.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

remove comments
  specforge/core/loss.py
Owners: @FrankLeeeee

Optimize loss calculation with in-place gradients calculation ~40% memory save (#185)
  scripts/train_eagle3_offline.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/benchmarks/benchmark_loss.py
  specforge/core/eagle3.py
  specforge/core/loss.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_utils/test_flex_attention.py
  tests/test_utils/test_loss.py
  tests/test_utils/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Add automatic configuration generation for the draft model. (#167)
  README.md
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

only run single turn since multi turn might meet some issues (#188)
  benchmarks/bench_model_speedup.py
Owners: @FrankLeeeee

Auto total steps (#187)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

by default, disable split category to get general performance for mtbench (#189)
  benchmarks/bench_model_speedup.py
Owners: @FrankLeeeee

Add gpt-oss gen data script (#190)
  scripts/gen_oss_dataset.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

added specforge docs (#199)
  .github/workflows/publish_docs.yaml
  README.md
  assets/logo.ico
  docs/Makefile
  docs/README.md
  docs/_static/css/custom_log.css
  docs/_static/css/readthedocs.css
  docs/advanced_features/customization.md
  docs/basic_usage/benchmarking.md
  docs/basic_usage/data_preparation.md
  docs/basic_usage/gpt-oss.md
  docs/basic_usage/llama3.md
  docs/basic_usage/llama4.md
  docs/basic_usage/qwen3.md
  docs/basic_usage/training.md
  docs/conf.py
  docs/deploy.py
  docs/get_started/install.md
  docs/get_started/overview.md
  docs/index.rst
  docs/requirements.txt
  docs/serve.sh
  setup.py
  version.txt
Owners: @FrankLeeeee, @zhyncs

Fixed github pages CNAME (#201)
  .github/workflows/publish_docs.yaml
  README.md
Owners: @FrankLeeeee

added citation (#202)
  README.md
Owners: none

replaced default token with personal token (#203)
  .github/workflows/publish_docs.yaml
Owners: @FrankLeeeee

updated doc workflow (#204)
  .github/workflows/publish_docs.yaml
Owners: @FrankLeeeee

fixed doc workflow (#205)
  .github/workflows/publish_docs.yaml
Owners: @FrankLeeeee

supported gpt-oss (#198)
  configs/gpt-oss-120B-eagle3.json
  configs/gpt-oss-20B-eagle3.json
  examples/run_gpt_oss_120b_eagle3_online.sh
  examples/run_gpt_oss_20b_eagle3_online.sh
  examples/run_llama3_eagle3_online.sh
  requirements.txt
  scripts/gen_oss_dataset.py
  scripts/prepare_data.py
  scripts/train_eagle3_online.py
  specforge/core/eagle3.py
  specforge/data/parse.py
  specforge/data/preprocessing.py
  specforge/data/template.py
  specforge/distributed.py
  specforge/modeling/auto.py
  specforge/modeling/draft/base.py
  specforge/modeling/target/gpt_oss.py
  tests/test_target_modeling/test_gpt_oss.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo, @zyksir

remove unuser print (#209)
  specforge/data/parse.py
Owners: @zyksir, @sleepcoo, @shuaills

vlm model support flex_attention (#210)
  configs/qwen2-5-vl-7b-eagle3.json
  scripts/train_eagle3_online.py
  specforge/core/eagle3.py
  specforge/modeling/draft/llama3_eagle.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

add train tqdm progress bar with real-time loss and acc display (#211)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix view usage (#214)
  specforge/core/loss.py
Owners: @FrankLeeeee

Pass only `draft_model` into BF16Optimizer (#212)
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Fix dataset key from 'validation' to 'val' (#191)
  benchmarks/run_mmstar.py
Owners: @FrankLeeeee

Fix Graph break from `Tensor.item()` (#222)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/core/eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Fixed the bug that caused the training to stop directly when the training data was not alternating between user and assistant. (#221)
  specforge/data/parse.py
Owners: @zyksir, @sleepcoo, @shuaills

fix: typo and outdated names (#230)
  examples/run_llama3_eagle3_offline.sh
Owners: @shuaills, @sleepcoo, @FlamingoPg

Offline Train: Avoid Duplicate Model Download (#235)
  specforge/modeling/target/target_head.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Replace unsupported --batch-size with --draft-micro-batch-size and --… (#238)
  examples/run_qwen3_coder_eagle3_offline.sh
Owners: @shuaills, @sleepcoo, @FlamingoPg
