Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg

vlm target model not support set_aux_hidden_states_layers (#290)
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix offline train, load optimizer for FSDP2 (#298)
  scripts/train_eagle3_offline.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

updated workflow to prevent test hang (#309)
  .github/workflows/test.yaml
Owners: @FrankLeeeee

merge online and offline into one script (#308)
  docs/advanced_features/customization.md
  docs/basic_usage/data_preparation.md
  examples/README.md
  examples/prepare_hidden_states.sh
  examples/run_deepseek_v2_lite_eagle3_online.sh
  examples/run_gpt_oss_120b_eagle3_online.sh
  examples/run_gpt_oss_120b_eagle3_sgl_online.sh
  examples/run_gpt_oss_20b_eagle3_online.sh
  examples/run_llama3.3_eagle3_online.sh
  examples/run_llama3_eagle3_offline.sh
  examples/run_llama3_eagle3_online.sh
  examples/run_llama3_eagle3_sgl_online.sh
  examples/run_llama4_scout_eagle3_online.sh
  examples/run_phi4_eagle3_online.sh
  examples/run_phi4_mini_eagle3_online.sh
  examples/run_qwen2_5_vl_eagle3_online.sh
  examples/run_qwen3_235b_a22b_eagle3.sh
  examples/run_qwen3_30b_a3b_eagle3_online.sh
  examples/run_qwen3_8b_eagle3_online.sh
  examples/run_qwq_eagle3_online.sh
  examples/run_regenerate_data.sh
  scripts/prepare_hidden_states.py
  scripts/train_eagle3.py
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_sgl_online.py
  specforge/modeling/target/__init__.py
  specforge/modeling/target/eagle3_target_model.py
  specforge/modeling/target/target_head.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Docs/update (#311)
  docs/advanced_features/customization.md
  docs/advanced_features/regenerate_dataset.md
  docs/basic_usage/benchmarking.md
  docs/basic_usage/data_preparation.md
  docs/basic_usage/training.md
  docs/concepts/EAGLE3.md
  docs/concepts/speculative_decoding.md
  docs/examples/llama3-eagle3-offline.md
  docs/examples/llama3-eagle3-online.md
  docs/examples/llama3-eagle3.md
  docs/get_started/about.md
  docs/get_started/install.md
  docs/get_started/installation.md
  docs/get_started/overview.md
  docs/index.rst
  examples/run_llama3_eagle3_online.sh
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix mmstar benchmark using sglang (#315)
  benchmarks/utils.py
Owners: @FrankLeeeee

polish code (#316)
  examples/run_llama3_eagle3_online.sh
  examples/run_qwen3_235b_a22b_eagle3.sh
  examples/run_qwen3_coder_eagle3_offline.sh
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

enable finetune with train_eagle3_offline.py (#313)
  scripts/train_eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

added sglang arguments (#317)
  requirements.txt
  scripts/train_eagle3.py
  specforge/args.py
  specforge/modeling/target/eagle3_target_model.py
  specforge/modeling/target/sglang_backend/model_runner.py
  specforge/modeling/target/sglang_backend/patch.py
  tests/test_target_modeling/test_sglang_backend.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

unified benchmark scripts (#319)
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/bench_eagle3.py
  benchmarks/bench_model_speedup.py
  benchmarks/benchmarker/__init__.py
  benchmarks/benchmarker/aime.py
  benchmarks/benchmarker/base.py
  benchmarks/benchmarker/ceval.py
  benchmarks/benchmarker/gsm8k.py
  benchmarks/benchmarker/humaneval.py
  benchmarks/benchmarker/math500.py
  benchmarks/benchmarker/mmstar.py
  benchmarks/benchmarker/mtbench.py
  benchmarks/benchmarker/registry.py
  benchmarks/benchmarker/utils.py
Owners: @FrankLeeeee

fixed data regeneration script (#321)
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix ckpt dir check (#320)
  scripts/train_eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

support gen hidden states use fp8 (#318)
  scripts/prepare_hidden_states.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Add subset options for opc (#312)
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Fixed the installation command
  docs/get_started/installation.md
Owners: none

organized unit tests (#324)
  tests/test_data/__init__.py
  tests/test_data/test_data_pipe.py
  tests/test_data/test_preprocessing.py
  tests/test_layers/__init__.py
  tests/test_modeling/__init__.py
  tests/test_modeling/test_auto_model.py
  tests/test_modeling/test_draft/__init__.py
  tests/test_modeling/test_draft/test_llama3.py
  tests/test_modeling/test_target/__init__.py
  tests/test_modeling/test_target/test_custom_backend/__init__.py
  tests/test_modeling/test_target/test_custom_backend/test_gpt_oss.py
  tests/test_modeling/test_target/test_custom_backend/test_llama4_tp.py
  tests/test_modeling/test_target/test_custom_backend/test_llama_tp.py
  tests/test_modeling/test_target/test_custom_backend/test_phi3_tp.py
  tests/test_modeling/test_target/test_custom_backend/test_qwen2_tp.py
  tests/test_modeling/test_target/test_custom_backend/test_qwen3_moe_tp.py
  tests/test_modeling/test_target/test_custom_backend/test_qwen3_tp.py
  tests/test_modeling/test_target/test_sglang_backend/__init__.py
  tests/test_modeling/test_target/test_sglang_backend/test_sglang_backend.py
  tests/test_modeling/test_target/test_target_model_backend.py
  tests/test_vlm/__init__.py
  tests/test_vlm/test_qwenvl_loss_mask.py
Owners: @FrankLeeeee

fixed non-runnable examples (#322)
  configs/llama3-70B-ealge3.json
  configs/phi4-mini-eagle3.json
  docs/basic_usage/training.md
  docs/examples/llama3-eagle3-online.md
  examples/README.md
  examples/run_deepseek_v2_lite_eagle3_online.sh
  examples/run_gpt_oss_120b_eagle3_online.sh
  examples/run_gpt_oss_20b_eagle3_online.sh
  examples/run_llama3.1_8b_eagle3_offline.sh
  examples/run_llama3.1_8b_eagle3_online.sh
  examples/run_llama3.3_70b_eagle3_online.sh
  examples/run_llama3.3_eagle3_online.sh
  examples/run_phi4_eagle3_online.sh
  examples/run_qwen2.5_7b_vl_eagle3_online.sh
  examples/run_qwen3_235b_a22b_eagle3.sh
  examples/run_qwen3_30b_a3b_eagle3_online.sh
  examples/run_qwen3_8b_eagle3_online.sh
  examples/run_qwen3_coder_eagle3_offline.sh
  examples/run_qwq_eagle3_online.sh
  specforge/args.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

merged data generation scripts (#323)
  scripts/build_eagle3_dataset_cache.py
  scripts/gen_oss_dataset.py
  scripts/generate_data_by_target.py
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

added autoflakes pre-commit hook (#327)
  .pre-commit-config.yaml
  benchmarks/benchmarker/utils.py
  scripts/prepare_hidden_states.py
  specforge/__init__.py
  specforge/args.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/benchmarks/benchmark_loss.py
  specforge/core/eagle3.py
  specforge/data/parse.py
  specforge/data/utils.py
  specforge/layers/embedding.py
  specforge/layers/linear.py
  specforge/modeling/auto.py
  specforge/modeling/draft/base.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/eagle3_target_model.py
  specforge/modeling/target/sglang_backend/model_runner.py
  specforge/modeling/target/sglang_backend/patch.py
  specforge/optimizer.py
  specforge/tracker.py
  specforge/utils.py
  tests/test_data/test_preprocessing.py
  tests/test_layers/test_lm_head.py
  tests/test_modeling/test_draft/test_llama3.py
  tests/test_modeling/test_target/test_target_model_backend.py
  tests/test_utils/test_flex_attention.py
  tests/test_utils/test_loss.py
Owners: @FrankLeeeee, @shuaills, @sleepcoo, @FlamingoPg, @zyksir

fixed specforge imports (#332)
  specforge/__init__.py
Owners: none

support more sampling params
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

remove recommended
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

added tests for scripts (#331)
  .github/workflows/test.yaml
  scripts/regenerate_train_data.py
  scripts/train_eagle3.py
  tests/test_scripts/__init__.py
  tests/test_scripts/test_prepare_data.py
  tests/test_scripts/test_regenerate_train_data.py
  tests/test_scripts/test_train_eagle3.py
  tests/utils.py
Owners: @FrankLeeeee, @shuaills, @sleepcoo, @FlamingoPg

some comments
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

lint
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

bump to v0.1.1 (#330)
  version.txt
Owners: none

Support more sampling params in data generation (#333)
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

support checkpoint
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

lint
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

capture only required hidden states
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/eagle3_target_model.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

revert regen
  scripts/regenerate_train_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix llama
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

backward compatible
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/eagle3_target_model.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Add qwen3-coder-30B-A3B-Instruct Eagle3 Training Script (#329)
  configs/qwen3-coder-30B-A3B-instruct-eagle3.json
  examples/run_qwen3_coder_30b_a3b_eagle3_online.sh
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

Update specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

gemini suggests
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

fix
  specforge/modeling/target/eagle3_target_model.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

fix phi
  specforge/modeling/target/custom_backend/phi3.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Remove full hidden states capturing in custom backend (#337)
  specforge/modeling/target/custom_backend/gpt_oss.py
  specforge/modeling/target/custom_backend/llama.py
  specforge/modeling/target/custom_backend/llama4.py
  specforge/modeling/target/custom_backend/phi3.py
  specforge/modeling/target/custom_backend/qwen2.py
  specforge/modeling/target/custom_backend/qwen3.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/eagle3_target_model.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

fix mmstart benchmrk (#334)
  benchmarks/benchmarker/base.py
  benchmarks/benchmarker/mmstar.py
Owners: @FrankLeeeee
