Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

updated benchmark docs (#340)
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/bench_eagle3.py
  docs/examples/llama3-eagle3-online.md
Owners: @FrankLeeeee

grouped args for better reference (#343)
  scripts/prepare_hidden_states.py
  scripts/regenerate_train_data.py
  scripts/train_eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

added profiling (#344)
  scripts/train_eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Feature/online train use hf backend optimize GPU usage (#346)
  specforge/modeling/target/eagle3_target_model.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

added model-download-dir (#347)
  scripts/prepare_hidden_states.py
  scripts/train_eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

add missing
  specforge/modeling/target/custom_backend/qwen3_moe.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Update specforge/modeling/target/custom_backend/qwen3_moe.py
  specforge/modeling/target/custom_backend/qwen3_moe.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg
