Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg

Update README.md (#110)
  README.md
Owners: none

temp support mlflow
  .gitignore
  .nfs00000002a6f8911900000003
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

matched attention output
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

matched attention output
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

add backward test
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

[Bugfix] Add check for dist-timeout (#111)
  scripts/prepare_hidden_states.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

singleton added
  .vscode/launch.json
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

runnable
  configs/llama3-8B-eagle3.json
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/core/eagle3.py
  specforge/modeling/auto.py
  specforge/modeling/draft/eagle3_flex_mask.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/draft/llama3_flex_attention.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

ok
  configs/qwen3-14b-eagle3.json
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_online.py
  specforge/logging.py
  specforge/utils.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

prepare dataset with multiple datapath
  scripts/build_eagle3_dataset.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

online
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix
  examples/run_llama3_eagle3_online.sh
  scripts/build_eagle3_dataset.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

all
  scripts/train_eagle3_online.py
  specforge/data/utils.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @zyksir, @FrankLeeeee

[Bugfix] Ensure dataset cache key is unique for different processing parameters (#115)
  .gitignore
  scripts/build_eagle3_dataset.py
  scripts/prepare_hidden_states.py
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Add optional cache dir arg to DistributedTargetModel (#114)
  scripts/train_eagle3_online.py
  specforge/modeling/auto.py
  specforge/modeling/target/base.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

freaking slow
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_online.py
  specforge/benchmarks/benchmark_flex_attention.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

more to go
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

?
  attention_benchmark_comparison.png
  examples/run_llama3_eagle3_online.sh
  scripts/train_eagle3_online.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/core/eagle3.py
  specforge/data/utils.py
  specforge/modeling/draft/eagle3_flex_mask.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee, @zyksir

fully working
  scripts/build_eagle3_dataset.py
  scripts/prepare_data.py
  scripts/prepare_hidden_states.py
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/core/eagle3.py
  specforge/modeling/auto.py
  specforge/modeling/draft/base.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  specforge/modeling/draft/llama3_flex_attention.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

readme
  examples/README.md
Owners: @shuaills, @sleepcoo, @FlamingoPg

remove vscode
  .gitignore
  .vscode/launch.json
Owners: none

remove
  examples/.nfs00000002e0e5f8b700000021
Owners: @shuaills, @sleepcoo, @FlamingoPg

ruff
  .gitignore
  examples/README.md
  scripts/build_eagle3_dataset.py
  scripts/train_eagle3_online.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/core/eagle3.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

upgrade torch
  requirements.txt
Owners: none

readme
  examples/README.md
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix: do not save embedding layer to draft model weights (#125)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/modeling/auto.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Add COT and VQA Benchmarks (#106)
  benchmarks/run_aime.py
  benchmarks/run_mmstar.py
Owners: @FrankLeeeee

enable _compile option
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

update test
  tests/test_flex_attention.py
Owners: @FrankLeeeee

remove comments
  specforge/modeling/draft/llama3_eagle.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

switch default to flex
  scripts/train_eagle3_online.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

go
  examples/run_llama3_eagle3_online.sh
  specforge/modeling/draft/llama3_eagle.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

fix link
  tests/test_flex_attention.py
Owners: @FrankLeeeee

Add Flex attention backend, uses 10~20x less memory in long context training (#97)
  .gitignore
  examples/README.md
  examples/run_llama3_eagle3_online.sh
  requirements.txt
  scripts/build_eagle3_dataset.py
  scripts/prepare_data.py
  scripts/prepare_hidden_states.py
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/benchmarks/benchmark_flex_attention.py
  specforge/core/eagle3.py
  specforge/modeling/auto.py
  specforge/modeling/draft/base.py
  specforge/modeling/draft/flex_attention.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

sgl compatible (#132)
  benchmarks/run_aime.py
  benchmarks/run_gsm8k.py
  benchmarks/run_humaneval.py
  benchmarks/run_math500.py
  benchmarks/run_mmstar.py
Owners: @FrankLeeeee

Enable flex attention backend for offline (#134)
  scripts/train_eagle3_offline.py
  specforge/core/eagle3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Add TP support for Qwen3-Dense model online training. (#77)
  configs/qwen3-32b-eagle3.json
  configs/qwen3-4b-eagle3.json
  examples/run_qwen3_dense_eagle3_online.sh
  specforge/modeling/auto.py
  specforge/modeling/target/qwen3.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

enable cache dir arg for offline training (#136)
  scripts/train_eagle3_offline.py
  specforge/modeling/target/target_head.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Always set `tie_word_embeddings` to False in AutoDraftModelConfig (#140)
  configs/qwen3-4b-eagle3.json
  specforge/modeling/auto.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

Added requirements.txt into source dist (#135)
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  setup.py
  specforge/modeling/auto.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee
