Repository yubofredwang/SpecForge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FrankLeeeee, @zyksir, @sleepcoo, @shuaills, @FlamingoPg, @zhyncs

fix flex attention
  examples/run_llama3_eagle3_online.sh
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

good
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Add build-dataset-num-proc to avoid slow generation and timeout error (#143)
  scripts/build_eagle3_dataset.py
  scripts/prepare_hidden_states.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Update prepare_data.py (#141)
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Fix flex attention when seq_len < 128 RuntimeError: No valid triton configs. OutOfMemoryError (#144)
  examples/run_llama3_eagle3_online.sh
  specforge/modeling/draft/llama3_eagle.py
  tests/test_flex_attention.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Fix latest SGLang not supported (#142)
  scripts/prepare_hidden_states.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix
  examples/run_llama3_eagle3_offline.sh
  examples/run_llama3_eagle3_online.sh
  examples/run_llama4_eagle3_online.sh
  examples/run_qwen3_coder_eagle3_offline.sh
  examples/run_qwen3_dense_eagle3_online.sh
  examples/run_qwen3_moe_eagle3_online.sh
  specforge/modeling/target/qwen3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

more (#150) enable pin memory for offline training
  scripts/train_eagle3_offline.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Fixed opc data prep (#151)
  scripts/prepare_data.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Update README.md (#147)
  README.md
Owners: none

Llama3 tp support (#130)
  examples/run_llama3.3_eagle3_online.sh
  specforge/modeling/auto.py
  specforge/modeling/target/llama.py
  tests/test_llama_tp.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

Support swanlab & tensorboard (#116)
  README.md
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/tracker.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fix (#148)
  examples/run_llama3_eagle3_offline.sh
  examples/run_llama3_eagle3_online.sh
  examples/run_llama4_eagle3_online.sh
  examples/run_qwen3_coder_eagle3_offline.sh
  examples/run_qwen3_dense_eagle3_online.sh
  examples/run_qwen3_moe_eagle3_online.sh
  specforge/modeling/target/qwen3.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @FrankLeeeee

add torch compile to rmsnorm and rope (#153)
  specforge/modeling/draft/llama3_eagle.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Minor add profiling, verbose logging, build_dataset_num_proc to trainer (#149)
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

Tiny fix shape hinting (#155)
  specforge/core/eagle3.py
Owners: @FrankLeeeee

Extract common functions for compilation (#159)
  specforge/core/eagle3.py
  specforge/modeling/draft/llama3_eagle.py
Owners: @FrankLeeeee, @FlamingoPg, @sleepcoo, @shuaills

Fix load_embedding from small target models (#160)
  specforge/modeling/draft/base.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

fixed llama tp (#162)
  specforge/modeling/target/llama.py
  tests/test_llama_tp.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

Add support for Qwen qwq-32B and qwen2 (#163)
  README.md
  configs/qwq-32B-eagle3.json
  examples/run_qwq_eagle3_online.sh
  specforge/modeling/auto.py
  specforge/modeling/target/qwen2.py
  tests/test_qwen2_tp.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo

One branch that contains several speed optimizations (+70% e2e speed) (#157)
  specforge/core/eagle3.py
Owners: @FrankLeeeee

Add some settings for deepseek-v2-lite-chat (#158)
  configs/deepseek-v2-lite-eagle3.json
  specforge/data/template.py
Owners: @FrankLeeeee, @FlamingoPg, @zyksir, @sleepcoo, @shuaills

Qwen2.5-VL-7B egale3 train (#102)
  .gitignore
  configs/qwen2-5-vl-eagle3.json
  examples/run_qwen2_5_vl_eagle3_online.sh
  scripts/prepare_data.py
  scripts/train_eagle3_online.py
  specforge/__init__.py
  specforge/core/__init__.py
  specforge/core/eagle3.py
  specforge/data/preprocessing.py
  specforge/data/template.py
  specforge/data/utils.py
  specforge/modeling/auto.py
  specforge/modeling/draft/llama3_eagle.py
  tests/test_qwenvl_loss_mask.py
Owners: @FrankLeeeee, @FlamingoPg, @shuaills, @sleepcoo, @zyksir

Enable mlflow logging, logging interval (#168)
  examples/run_qwen2_5_vl_eagle3_online.sh
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/data/preprocessing.py
  specforge/tracker.py
Owners: @shuaills, @sleepcoo, @FlamingoPg, @zyksir

Use fp32 in optimizer step (#152)
  examples/run_llama3_eagle3_offline.sh
  requirements.txt
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
  specforge/optimizer.py
  specforge/utils.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

add benchmark using chatapi (#126)
  benchmarks/bench_model_speedup.py
  scripts/train_eagle3_offline.py
  scripts/train_eagle3_online.py
Owners: @FrankLeeeee, @shuaills, @sleepcoo, @FlamingoPg

added CI
  .github/workflows/test.yaml
Owners: @FrankLeeeee

poslih
  .github/workflows/test.yaml
Owners: @FrankLeeeee

poslih
  .github/workflows/test.yaml
Owners: @FrankLeeeee

poslih
  .github/workflows/test.yaml
Owners: @FrankLeeeee

poslih
  .github/workflows/test.yaml
Owners: @FrankLeeeee

poslih
  .github/workflows/test.yaml
Owners: @FrankLeeeee

add missing args (#171)
  scripts/train_eagle3_online.py
Owners: @shuaills, @sleepcoo, @FlamingoPg

fixed some broken tests
  specforge/modeling/draft/llama3_eagle.py
  tests/test_auto_model.py
  tests/test_data/test_data_pipe.py
  tests/test_draft_modeling/test_llama3.py
  tests/test_target_modeling/test_llama4_tp.py
  tests/test_target_modeling/test_llama_tp.py
  tests/test_target_modeling/test_qwen2_tp.py
  tests/test_target_modeling/test_qwen3_tp.py
  tests/test_utils/test_auto_model.py
  tests/test_utils/test_flex_attention.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

fix broken test case and fix llama4.py
  specforge/modeling/target/llama4.py
  tests/test_target_modeling/test_qwen3_tp.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

precommit llama4.py
  specforge/modeling/target/llama4.py
Owners: @FlamingoPg, @sleepcoo, @shuaills, @FrankLeeeee

add init to make test discoverable
  tests/__init__.py
  tests/test_data/__init__.py
  tests/test_draft_modeling/__init__.py
  tests/test_target_modeling/__init__.py
  tests/test_utils/__init__.py
Owners: @FrankLeeeee

add init to make test discoverable (#173)
  tests/__init__.py
  tests/test_data/__init__.py
  tests/test_draft_modeling/__init__.py
  tests/test_target_modeling/__init__.py
  tests/test_utils/__init__.py
Owners: @FrankLeeeee

lower atol rtol and fix random
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

Devops/ci (#174)
  tests/test_utils/test_flex_attention.py
Owners: @FrankLeeeee

.github/CODEOWNERS:

.github @FrankLeeeee
/specforge/core @FrankLeeeee
/specforge/data @zyksir @sleepcoo @shuaills
/specforge/layers @FrankLeeeee @FlamingoPg @sleepcoo @shuaills
/specforge/modeling @FlamingoPg @sleepcoo @shuaills @FrankLeeeee
/tests @FrankLeeeee
/assets @FrankLeeeee @zhyncs
/examples @shuaills @sleepcoo @FlamingoPg
/configs @FrankLeeeee @FlamingoPg
/benchmarks @FrankLeeeee
/scripts @shuaills @sleepcoo @FlamingoPg
